<h1>
  Blog List <small><a href="#" ng-click="changeCols(4)">Change</a></small>
</h1>

<div class="row">
  <div class="col-sm-6">
    <input
      type="text"
      ng-model="query"
      class="form-control"
      placeholder="Filter"
    />
  </div>
</div>

<!-- <ul ng-if="items.length > 0">
  <li ng-repeat="item in items">
    <a href="#" confirm-click="Are you ready?" confirmed-click="goToItem(item)"
      >{{item.title}} - {{item.publishDate}}</a
    >
    <a href="#" ng-click="goToItem(item)"
      >{{item.title}} - {{item.publishDate}}</a
    >
    <confirm-click message="Are you positive?" post="item"></confirm-click>
  </li>
</ul> -->

<span ng-if="items.length === 0">Posts coming soon</span>

<div class="row" ng-repeat="items in colItems">
  <div class="{{cssClass}}" ng-repeat="post in items | filter:query">
    <div class="thumbnail">
      <img src="..." alt="..." />
      <div class="caption">
        <h3>{{post.title}}</h3>
        <p>{{post.text}} {{post.publishDate}}</p>
        <p>
          <a
            href="#"
            class="btn btn-primary"
            confirm-click="Are you ready?"
            confirmed-click="goToItem(post)"
            role="button"
            >View</a
          >
          <a href="#" class="btn btn-default" role="button">Button</a>
        </p>
      </div>
    </div>
  </div>
</div>
